[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jtdm"]
	path = jtdm
	url = https://github.com/giopogg/jtdm
[submodule "webSDM"]
	path = webSDM
	url = https://github.com/giopogg/websdm
